* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, san-serif;
  }
  
  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  .input{
    box-sizing: border-box;
    border: 1px solid grey;
    width: 500px;
    height: 50px;
    text-align: left;
    vertical-align: top;
    padding: 0;
  }
  .output {
    box-sizing: border-box;
    border: 1px solid grey;
    width: 500px;
    height: 100px;
    overflow-wrap: break-word;
    overflow: auto;
  }